input {
  width: 40%;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: medium;
}

button {
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
}
